@import url(./base.css);

.help{
    display: flex;
    /* gap: 2%; */
}

.help__banner{
    flex: 3;
    padding: 20px;
    margin-left: -20px;
    position: relative;
}


.help__banner-content{
    position: absolute;
    top: 20px;
    right: 20px;
}
.help__banner-content h3{
    text-align: right;
    font-size: 30px;
    font-weight: 700;
    color: var(--text-color);
}

.help__banner-content  h3:nth-child(2){
    width: 84%;
}

.help__banner-content  h3:last-child{
    width: 100%;
}
.banner-content--top{
    display: flex;
    width: 100%;
}

.banner-content--top h3{
    width: 70%;
    padding-top: 8px;
    padding-right: 20px;
}
.banner-content--top img{
    width: 30%;
}

.help__content{
    flex: 2;
    /* width: 44%; */
    /* flex: 3; */
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.help__content > h3{
    font-size: 16px;
    color: #2a2a2a;
    margin-bottom: 20px;
}

.help__content-call{
    display: flex;
    width: 100%;
    background-color: var(--orange-color);
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: #5c5c5c;
}
.help__content-call .call__img{
    width: 26px;
    margin-left: 30px;
    transform: translateY(3px);
}


.help__content-call .call__content{
    transform: translateX(-20px);
    text-align: center;
    margin: 0 auto;
   
}

.help__content-call .call__content h3{
    font-size: 30px;
    /* margin-bottom: -8px; */
    transform: translateY(8px);
    color: #5c5c5c;
}

.help__content-call .call__content span{
    font-size: 12px;
}



.nearplace{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.nearplace__img{
    width: 30px;
    margin-right: 20px;
}

.nearplace h2{
    font-size: 18px;
}

.option{
    background-color: #ebebeb;
    /* border-radius: 20px 20px 0 0; */
    border-radius: 20px;

}

.option a{
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #5c5c5c;
}


.option-default{
    font-size: 16px;
    line-height: 24px;
    /* font-weight: bold; */
    /* color: #5c5c5c; */
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    cursor: pointer;

    /* color: var(--text-color) !important; */
}

.option-default i{
    /* padding: 0 8px !important; */
    margin-right: -10px;
    color: #fff;
    transition: 0.3s linear;

}
.option__list{
    background-color: #ebebeb;
    width: 100%;
    flex-direction: column;
    padding: 0 40px;
    margin-top: -2px;
    display: none;
    transition: 1s linear;
}

.option__list a{
    display: inline-block;
    margin-bottom: 4px;
    padding: 2px 2px 2px 0;
    transition: 0.3s linear;
    /* width: fit-content; */
}

.option-default:hover{
    color: var(--text-color);
}

.option__list > a:hover{
    color: var(--orange-color);
    border-bottom: 1px solid var(--orange-color);
}

.open{
    display: block;
}

.font-bold{
    font-weight: bold;
    color: var(--text-color);

}

.rotate-180{
    transform: rotate(-180deg);
}

.animationCall{
    transform: rotate(-30deg) !important;
    transition: 0.3s linear;
}